# MakeCode
built
node_modules
yotta_modules
yotta_targets
pxt_modules
_site
*.db
*.tgz
.header.json
.simstate.json
#Unity
/Library
/Logs
/Builds
/Temp
/.vs/
ADA.sln
*.csproj
/.vscode/
/UserSetting/Layouts
# /ProjectSettings/ProjectSettings.asset

UserSettings/Layouts/default-2022.dwlt
